/* GLOBAL STYLING */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/* font-family: 'Ubuntu', sans-serif; */

a, p, h1, h2, h3, select, label, button {
  font-family: 'Ubuntu', sans-serif;
}

/* MAIN STYLING */

.situationlist {}

body {
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: space-between;
}

strong {
  font-weight: bold;
}

main, form, .container, .select {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 1.6em;
}

select {
  border: 1px solid #ccc;
  font-size: 20px;
  height: 34px;
  margin: 1rem;
  width: 310px;
}

.container {
  margin: 2rem;
}

.button {
  background-color: #0de792;
  border: 4px solid #0de792;
  color: black;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  height: 5rem;
  margin: 1rem;
  width: 22rem;
}

.button:hover {
  background: transparent;
  color: #0de792;
}
.button:active {
  top: -98%;
  border: 6px solid #0de792;
}

/* HEADER STYLING */

header {
  background-color: black;
  display: flex;
  justify-content: center;
}

header img {
  height: auto;
  width: 60%;
}

button {
  font-size: 1rem;
}

/* FOOTER STYLING */

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

footer a {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}

.nav {
  padding: 0 1rem;
}

/* ABOUT STYLING */

.about, .coming-soon {
  font-family: 'Ubuntu', sans-serif;
  padding: 1em 3rem;
}

.about {
  font-size: 1.3em;
  line-height: 1.3em;
}

.coming-soon {
  font-size: 1.6em;
  font-weight: bold;
}